body,html{
   margin: 0;
   padding: 0;
   background:#00796B;
   width:100%;
   height:100%;

}
h1{
   text-align: center;
   text-transform: uppercase;
   font-family: Arial;
   color: #fff;
   position:absolute;
   left:50%;
   transform:translate(-50%,0);
}

#container{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-flow:column;
}
.escenario{
   width: 539px;
   height: 244px;
   border: 1px solid;
   display: flex;
   justify-content: space-between;
}
.escenario > div{
   background: rgba(144, 202, 249,0.4);
   height: 100%;
   display: flex;
   flex-flow: column;
   justify-content: flex-end;
   min-width:77px;
}
.box{
   width: 77px;
   height: 27px;
   margin: 2px 0px;
   background:#80cbc4;
   position:initial !important;

}

form{
margin-bottom:10px;
}
