<div class="row" style="padding-top: 50px">
  <div class="col-md-12 text-center">
    <h1>Log de servicio.</h1>
    <div class="col-md-6 text-center" style="padding-top: 50px">
      <strong>
        Creados: <%= @create %>
      </strong>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 50px">
      <strong>
        Actualizados: <%= @update %>
      </strong>
    </div>

  </div>
</div>